@page
@model SMSWebAppHost.Pages.Course.IndexModel

<div class="container">
    @*adding button to add new Course*@
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="addbtn" data-bs-target="#createModal">
        <i class="fa-solid fa-plus"></i> Add
    </button>
    @*creating table to populate Course data*@
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Teacher Name</th>                
            </tr>
        </thead>
        <tbody>
            @if (Model.CourseList !=null)
            {
                foreach (var item in Model.CourseList)
                {
                    <tr>
                        <td class="hidden">@item.Id</td>                       
                        <td>@item.CourseName</td>
                        <td>@item.TeacherFullName</td>                        
                        <td>
                            <button id="updateCourse" onclick="UpdateCourse('@item.Id')" class="transparentButton">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <a asp-page="/Teacher/Index" asp-route-id="@item.Id" class="deleteButton" asp-page-handler="DeleteCourse" role="button">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">
                        No data.
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal-fade" tabindex="-1" aria-labelledby="teacherCreateUpdate" id="createModal" aria-hidden="true">
        <div class="modal-dialog">
        </div>
    </div>    
</div>
@section scripts{
    <script type="text/javascript"> 
       $('#addbtn').click(function(){
           $('#createModal').load('?handler=CreateCourse')            

       }) 
    </script>
}

