@page
@model SMSWebAppHost.Pages.Student.CreateModel
@{
}
<div>
    <h1>Add Student</h1>
    <form method="post" asp-page="Student/Create">
    <div class="row g-3">
        <div class="col">
            <input type="text" asp-for="@Model.StudentViewModel.FirstName" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" asp-for="@Model.StudentViewModel.LastName" placeholder="Last name" aria-label="Last name">
        </div>        
    </div>
    <div class="row g-3">
        <div class="col">
            <input type="date" class="form-control" asp-for="@Model.StudentViewModel.DOB" placeholder="D.O.B" aria-label="DateOfBirth">
        </div>
        <div class="col">  
            <select class="form-select" asp-for="@Model.StudentViewModel.Gender" aria-label="Gender">
                <option selected>Select Gender</option>
                @{
                    if (Model.GenderList.Count > 0)
                    {
                        foreach(var item in Model.GenderList)
                        {
                            <option value="@item">@item</option> 
                        }
                    }
                }                 
            </select>
        </div>        
    </div>
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" asp-for="@Model.StudentViewModel.GradeLevel" placeholder="Grade Label" aria-label="Grade Label">
        </div>
        <div class="col">
            <input type="text" class="form-control" asp-for="@Model.StudentViewModel.PhoneNumber" placeholder="Phone Number" aria-label="Phone Number">
        </div>        
    </div>
    <div>
        <input type="submit" class="btn btn-primary" />
        <a class="btn btn-danger" asp-page="/Student/Index" role="button">Cancel</a>
    </div>    
    </form>
</div>
