@page
@model SMSWebAppHost.Pages.Student.IndexModel
@{
}

<div class="container">
    <a class="btn btn-success" asp-page="/Student/Create" role="button">Create Student</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">D.O.B</th>
                <th scope="col">Gender</th>
                <th scope="col">Grade Level</th>
                <th scope="col">Phone Number</th>  
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
                @if (Model.Students.Count > 0)
                {
                    @foreach (var item in Model.Students)
                    {
                        <tr>
                            <td class="hidden">@item.StudentId</td> @*id is kept hidden to prevent from hacking*@
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.DOB</td>
                            <td>@item.Gender</td>
                            <td>@item.GradeLevel</td>
                            <td>@item.PhoneNumber</td>                            
                            <td>
                                <form method="post">
                                    <a asp-page="/Student/Update" asp-route-id="@item.StudentId" role="button">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                    <button type="submit" asp-page="/Student/Index" asp-page-handler="Delete" class="deleteButton" asp-route-id="@item.StudentId">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>                                
                            </td>
                        </tr>
                    }
                }
                else
                {
                   <tr>
                       <td colspan="7" class="text-center">
                           No data.
                       </td>
                   </tr>
                }
        </tbody>
    </table>
 </div> 
 @section scripts{
     <script type="text/javascript">
        $(document).ready(function(){
            alert("We are in index page!!!")
        })
        //for class we use '.' and hastag '#' for id
        $(".deleteButton").click(function(){
            return confrim('Do you want to delete student?')
        })
     </script>
 }
    
